.description {
  width: 800px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.triplist {
  display: flex;
  flex-direction: row;
}

.search {
  position: relative;
  right: 400px;
}

h1 {
  font-size: 50px;
  color: rgb(117, 188, 231);
  text-align: center;
}

input {
  width: 900px;
  text-align: center;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(190, 179, 179);
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
